.action-container {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 width: 100%;
 min-width: 100px;
 height: 100%;
}

.nav-link.home {
  color: red;
}

.nav-link.home > img{
  width: 25px;
  height: 25px;
  margin-top: 5px;
  padding-right: 20px;
}
