.toolbar {
  position:fixed;
  top:0px;
  z-index: 1;
}
.action-container {
 display: flex;
 justify-content: flex-end;
 align-items: center;
 width: 100%;
 min-width: 100px;
 height: 100%;
}

.nav-link.home {
  color: red;
}

.nav-link.home > img{
  width: 25px;
  height: 25px;
  margin-top: 5px;
  padding-right: 20px;
}

.userName {
  font-size: 15px;
  margin-right: 5px;
}
.userPhoto {
  width: 24px;
  height: 24px;
}

.user {
 font-size: 14px;
 text-decoration: none;
 display: flex;
 align-items: center;
 color: var(--fs-theme-text-primary-on-primary);
}

.name {
  margin-right: 10px;
}
@media only screen and (max-width: 380px) {
    .title {
      font-size: 13px;
    }
}


@media only screen and (min-width: 768px) {
    .toolbar {
      width: 100%;
    }

    .title {
      font-size: 18px;
    }
}
