<app-core-nav></app-core-nav>
<div class="preview">
  <div class="timeslot"></div>
  <div class="timeslot"></div>
  <div class="timeslot"></div>
  <div class="timeslot"></div>
</div>
<md-list>
  <h3>Bookings</h3>
  <md-list-item>
    <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">network_wifi</i>
    <h4 md-line>Teo Cheng Yong 8.20am - 9.00am</h4>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon></md-icon>
    <h4 md-line>Teo Cheng Yong 8.20am - 9.00am</h4>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon></md-icon>
    <h4 md-line>Teo Cheng Yong 8.20am - 9.00am</h4>
    <a class="mdc-list-item"></a>
  </md-list-item>
<md-list>
