:host {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.avatar {
  width: 32px;
  height: 32px;
}

.avatar img {
  content:url('./static/icons/boy-1.svg')
}

.action-containers {
  margin-left: auto;
  margin-right: 16px;
}

a.action {
  text-decoration: none;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

h3,h4 {
  padding-left: 20px;
}
