:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  bottom: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.booking-form {
  position: fixed;
  top: 90px;
  display: flex;
  flex-direction: row;
  z-index:1;
}

form label {
  width: 50px;
}

form label::after {
  content: ':';
}

