:host {
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    height: 100px;
    position: fixed;
    top: 55px;
    z-index: 1;
    justify-content: center;
}

.booking-form {
  display: flex;
  margin-top: 20px;
}

form label {
  width: 50px;
}

form label::after {
  content: ':';
}

